body {
  background-image: url(./Assets/EnterTheDB.jpg);
}
header {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 20%;
  text-align: center;
  background-color: #dfda3b;
  color: rgb(244, 65, 0);
  opacity: 0.9;
  font-family: "Krona One", sans-serif;
}
h3 {
  margin-top: 5px;
  margin-left: 10px;
  font-family: "Krona One", sans-serif;
  font-size: 30px;
}
h4 {
  color: red;
  margin-left: 10px;
  font-family: "Courier New", Courier, monospace;
}
p {
  color: black;
  margin-left: 10px;
}
table table,
tr {
  border: 100px;
  border-bottom: solid rgb(32, 130, 147);
}
table,
td {
  background-color: white;
  opacity: 0.9;
}
/* LIKE Button */
button {
  background-color: #dfda3b;
  margin-left: 1%;
  padding: 1%;
  margin-bottom: 1%;
  font-family: "Krona One", sans-serif;
  font-size: 12px;
}
/* GENRE Buttons */
.buttons {
  margin-top: 2%;
  border-radius: 50%;
  margin-left: 36%;
}
.button {
  border-radius: 10%;
  background-color: rgb(32, 130, 147);
  opacity: 0.8;
  border-width: 2px;
  border-color: #dfda3b;
  font-family: "Krona One", sans-serif;
}
.dropdown {
  margin-left: 42%;
  margin-right: 145px;
  margin-bottom: 150px;
}
.Movie-display {
  background-color: black;
  opacity: 0.9;
  color: rgb(32, 130, 147);
  font-weight: bold;
  margin: 5%;
}
#tv {
  color: white;
  font-weight: bolder;
}
#movie {
  color: white;
  font-weight: bolder;
}
#ListBox1 {
  background-color: #dfda3b;
  opacity: 0.9;
  color: rgb(244, 65, 0);
  font-family: "Krona One", sans-serif;
  font-size: 15px;
}
